<form action="/login" method="POST">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Enter email..."/>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Enter password..."/>
  <div class="emailError"><%= @error %></div>

  <button>Log In</button>
</form>